/* @font-face {
  font-family: "Robot";
  src: url("../PoetsenOne-Regular.ttf");
} */
html {
  font-family: 'Roboto';
  /* font-weight: "Condensed Bold"; */
  box-sizing: border-box;
  overflow: scroll;
  /* width: 100%; */
  height: 100%;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}
.white-text {
  color: white !important;
  font-weight: bold !important;
}
body {
  height: 100%;
  background-image: url('../raw/BG-instruction.png');
  background-size: cover;
  overflow: hidden;
}
/* NAVBAR STYLING */
a:hover {
  color: yellow !important;
}
.navbar {
  padding-left: 0;
  padding-right: 0;
  /* color: black; */
  /* background: transparent
    linear-gradient(
      0deg,
      #ffffff 0%,
      #fbfdff 28%,
      #eff7ff 55%,
      #dcedff 81%,
      #c9e4ff 100%
    )
    0% 0% no-repeat padding-box !important; */
}
#content {
  margin-left: 20px;
}
#navbarList li {
  margin-right: 20px;
}

#instruction {
  font-size: 26px;
}
#question {
  font-size: 26px;
}
/* FOOTER STYLING */
#bottomFooter {
  background-color: #0f2d55;
  color: white;
  font-weight: bold;
  width: 100%;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: fill-available;
}

main > .container {
  padding: 60px 15px 0;
  /* margin-bottom: 20px; */
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

.hideImage {
  visibility: hidden;
}
img .show {
  visibility: initial;
}
h1,
h2,
h3 {
  color: white;
  /* font-family: "CustomFont"; */
}
#brandLogoContainer {
  left: 20%;
  right: 20%;
}
#questionGame {
  visibility: hidden;
  left: 20%;
  right: 20%;
  margin-top: 160px;
}
#leaderboardContainer {
  margin-top: 100px;
}
#prizeContainer {
  margin-top: 60px;
  font-style: italic;
}
#instructionContainer {
  margin-top: 50px;
  font-size: 32px;
  font-style: italic;
}
#cardGameNext {
  opacity: 0.2;
}
#questionGameNext {
  opacity: 0.2;
}

.questionButton {
  border: 5px solid white;
  border-radius: 20px;
}
.myImg {
  margin-bottom: 10px;
}
.gameImg {
  margin-bottom: 10px;
  border: 4px solid white;
  border-radius: 20px;
  height: 150px;
}
#matchGame {
  margin-top: 120px;
}

/* RESPONSIVE STYLING  */
@media (max-width: 1000px) {
  /* NAVBAR STYLING */
  .navbar-collapse {
    padding: 0 1rem;
  }

  #navbarList li {
    border-bottom: 2px solid white;
    padding: 5px;
  }
  #navbarSupportedContent {
    background-color: rgba(29 30 39 / 93%);
  }
  #content {
    margin-left: 0;
  }
  body {
    overflow-y: scroll;
    background-image: url('../raw/BG-instruction.png');
  }
  #game {
    margin-top: 0;
  }
  #leaderboardContainer {
    margin-top: 0;
  }
  #prizeContainer {
    margin-top: 0;
  }
  #instructionContainer {
    margin-top: 0;
  }
  #instruction {
    font-size: 16px;
  }
  #question {
    font-size: 16px;
  }
  .gameImg {
    margin-bottom: 10px;
    border: 4px solid white;
    border-radius: 20px;
    height: auto;
  }
}
@media (max-width: 760px) {
  /* NAVBAR STYLING */
  .navbar-collapse {
    padding: 0 1rem;
  }
  #navbarList li {
    border-bottom: 2px solid white;
    padding: 5px;
  }
  #navbarSupportedContent {
    background-color: rgba(29 30 39 / 93%);
  }
  #content {
    margin-left: 0;
  }

  /* BODY STYLING */
  body {
    overflow-y: scroll;
    background-image: url('../raw/BG-instruction.png');
  }
  #instruction {
    font-size: 16px;
  }
  #question {
    font-size: 16px;
  }
  #game {
    margin-top: 0;
  }
  #leaderboardContainer {
    margin-top: 0;
  }
  #prizeContainer {
    margin-top: 0;
  }
  #instructionContainer {
    margin-top: 0;
  }
  .gameImg {
    margin-bottom: 10px;
    border: 4px solid white;
    border-radius: 20px;
    height: auto;
  }
}
